

#title{
  background-color:#ff4c68;
  color:#ffffff;
}

.navbar-brand{
font-family:"Ubuntu";
font-size:2rem;
font-weight: bold;
  color:#ffffff;
}




.image-phone{
width:20%;
transform:rotate(25deg);
position: absolute;
}
#features{
  padding:7% 15%;
  background-color: #ffffff;
  position:relative;
  z-index: 1;
}

.container-fluid{
padding:3% 15%;

}
.navbar{
  padding:0 0 4.5rem;
}
.nav-link{
  color:#ffffff;

}
h1{
  font-family:"Montserrat";
  font-weight:900;
  font-size:3.5rem;
  line-height:1.5;
}
.nav-item{

  font-size:1.2rem;
  padding-left:18px;
  padding-right:18px;
}
.btn{
  margin:5% 3% 5% 0%;
}
.feature-box{

  text-align: center;
  padding:5%;
}
h3{
  font-family:"Montserrat";
  font-weight:bold;
  font-size:23px;
}

p{
  color: #8f8f8f;
}
.fa-solid{
  color:#ef8172;
  margin-bottom:1rem;
}
.fa-solid:hover{
  color:#ff4c68;
}

#testimonial{

  text-align: center;
  background: #ef8172;
  color:#ffffff;
}

h2,h3{
  font-family: "Montserrat";
  font-weight: bold;
  line-height:1.5;
  font-size:3rem;

}
.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
#press{
  background:#ef8172;
  text-align: center;
padding-bottom:3%;
}
.presslogo{
  width:15%;
  margin:20px 20px;
}
.carousel-item{
  padding:3% 15%;
}
#pricing{
  padding:100px;
  text-align:center;
}
.price{
  padding:3% 2%;
}
#cta{
  text-align: center;
  background-color:#ff4c68;
  color:#ffffff;
  padding:7%;
}
#footer{
  text-align: center;
  padding: 4%;
}
